{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InsightPilot AI</title>
        <meta name="description" content="Error page of InsightPilot AI">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" async defer></script>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'images/InsightPilot_AI_icon.jpg' %}" alt="Logo" height="30" class="d-inline-block align-text-top rounded">
                        InsightPilot AI
                    </a>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-11 col-md-7 col-lg-5">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h4 class="card-title text-center">Error code {{error_code}}</h4>
                            <p class="card-text text-center">{{error_message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>